.be-container1-h1 {
    color: darkslategray;
    padding: 50px;
    margin: 0px;
    height: 0px;
}
.be-container1-para {
    padding: 40px;
    margin: 0px;
    width: 50%;
    height: 0px;
}
.be-container1-card_1 {
    width: 20%;
    padding: 40px;
    
}
.be-container2-h3 {
    text-align: center; 
    
 }
 .be-container2-para {
     text-align: center;
 }
 .be-container2-h6 {
    text-align: center;
    height: 2px;
    width: 200px;
}
.be-container2-h6_para {
    text-align: right;
    height: 2px;
    width: 268px;
}
.be-container3-h3 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: white;
    height: 2px;
}
.be-container3-h3__para {
    text-align: center;
    height: 2px;
    color: white;
}
