//colors
.be-container1-card_1_bg1 {
    background-color: rgb(132, 144, 148);
    padding: 45px;
}
.be-container1-card_1_bg2 {
    background-color:rgb(70, 74, 78);

}
.be-container1-card_1_bg3 {
    background-color: rgb(39, 38, 38);
}
.be-container2-mainblock__left__sec_bg1 {
    background-color: white
}
