.be-container1 {
    width: 800px;
    height: 650px;
    margin: 0px auto;
    background-color: white;
    background-image: url(./Images/container1-bg-img.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.be-container2 {
    width: 800px;
    height: 600px;
    background-color:white
}
.be-container3 {
    width: 800px;
    height: 250px;
    background-color:rgb(103, 118, 133)
}
.be-container4 {
    width: 800px;
    height: 400px;
    background-color: white;
    margin-top: 30px;
}
.be-container5 {
    width: 800px;
    height: 500px;
    background-color: lightgrey;
    margin-top: 20px;
}
.be-container6 {
    width: 800px;
    height: 380px;
    background-color:rgb(103, 118, 133);
    color: white;
}
.be-container7 {
    width: 800px;
    height: auto;
    background-color:white;
    color: black;
    
}
.be-container8 {
    width: 800px;
    height: 600px;
    background-color:lightslategray;
    
}
